@charset "UTF-8";

body {
    background-color: aquamarine; font-family: 'Courier New', Courier, monospace; font-size: 20px;
}

h1 {
    color: brown; background-color:antiquewhite;
}

h2 {
    color: goldenrod;
}

p {
    text-align: justify;
}